*.h5 
*.out
*slurm*
*.batch.*
run_metallicity.py
merge_metallicity.py
merging.csv
latex crap 
*.gz
*.aux
*.log
*.glg
*.glo 
*.gls 
*.ist
*.toc
*.out
*.md5
*.dpth
*.auxlock
*.fls
*.fdb_latexmk
*.minted

